/*Jobb oldal*/

div.main{
    margin-left: 35%;
    text-align: center;
}

table.row-num1{
    margin-left: 5.5%;
}

.td-1{
    text-align: center;

}

img.golyoimg{
    height: 18vh;
    width: auto;
    margin: 15px;
    vertical-align: middle;
}

/*Bal oldal*/

a{
    color: white;
    text-decoration: none;
}

.wrapper .sidebar{
    background-color: #424242;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.bckgrnd-list{

    height: 29.9%;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/green-fox-academy/http-info-syllabus/master/assets/hatter.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    object-fit: fill;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    text-align: center;

}

.main-page{

    padding-top: 25%;
    text-align: center;
    font-size: 125%;
    text-decoration: none;
    text-shadow: 2px 2px black;
    color: white;

}

.main-page-image{

    height: 85%;
    width: 42.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    background-image: url(https://freepikpsd.com/file/2019/10/green-ball-png-Transparent-Images.png);
    background-size: 100%;

    background-repeat: no-repeat;
    position: relative;

    display: flex;
    align-content: center;
    justify-content: center;

}

.list-a{
    
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    padding:5.5%;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;

    border-style: solid;
    border-width: 0px 0px 0.9px 0px;
    border-color: #303030;

}

.list-b{
    margin-top: 30%;
}

/*Reszponzivitás fuggvenyek vagy olyasmik xd*/

@media screen and (max-width:1440px) {
    
    .main-page-image{

        height: 240px;
        width: 240px;

    }

    .main-page{

        padding-top: 28%;
        text-align: center;
        font-size: 125%;
        text-decoration: none;
        text-shadow: 2px 2px black;
        color: white;
    
    }

    .bckgrnd-list{

        height: 27.5%;
        width: 100%;
        background-size: 100%;
    
    }
}

@media screen and (max-width:1024px) {
    .main-page-image{

        height: 210px;
        width: 210px;

    }

    .main-page{

        padding-top: 26.5%;
        text-align: center;
        font-size: 115%;
        text-decoration: none;
        text-shadow: 2px 2px black;
        color: white;
    
    }
    
    .bckgrnd-list{
        height: 42%;
        width: 100%;
        background-size: 185%;
    }
}

@media screen and (max-width:768px) {
    .bckgrnd-list{
        background-size: 241%;
        
    }
}

@media screen and (max-width:425px) {

    .main-page{
        padding-top: 20%;
        font-size: 75%;
    }

    .bckgrnd-list{
        height: 25%;
        background-size: 450%;
    }

    .main-page-image{
        height: 100px;
        width: 100px;
    }
}