div.main{
    margin-left: 35%;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}
    

.wrapper .sidebar{
    background-color: #424242;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.bckgrnd-list{

    height: 29.9%;
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/green-fox-academy/http-info-syllabus/master/assets/hatter.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    text-align: center;

}

.main-page{

    position: absolute;
    left: 0;
    padding-top: 30.5%;
    padding-bottom: 30.5%;
    width: 100%;

    font-size: 65px;
    text-decoration: none;
    text-shadow: 2px 2px black;
    text-align: center;
    color: white;

}

.main-page-image{

    height: 85%;
    width: 42.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    background-image: url(https://freepikpsd.com/file/2019/10/green-ball-png-Transparent-Images.png);
    background-size: 100%;

    background-repeat: no-repeat;
    position: relative;

    display: flex;
    align-content: center;
    justify-content: center;

}

.list-a{
    
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    padding:5.5%;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;

    border-style: solid;
    border-width: 0px 0px 0.9px 0px;
    border-color: #303030;

}

@media screen and (max-width:1124px) {
    .main-page-image{
        height: 180px;
        width: 180px;

        
    }

}